html{
  overflow-x: hidden;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family:'Roboto',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  color: black;
}
.Form-Card{
  width: fit-content;
  padding: 20px;
  text-align: center;
}
.Form-Card input{
  width: 350px;
}
.MuiAutocomplete-clearIndicator, .css-1glvl0p-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-clearIndicator{
  display: none !important;
}
.Form-Card form{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.Form-Card .form-btn{
  width: 100%;
  margin: 0 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.MuiFormHelperText-root{
  color: rgba(250, 62, 62, 0.833) !important;
}
.mobile{
  width: 220px;
}

@media (max-width: 420px) {
  html {
    font-size: 14px !important;
  }
  .Form-Card{
    width: auto;
  }
  .css-1jccwd1-MuiAutocomplete-root {
    width:100px !important;
  }
  .mobile{
    width: 190px;
  }
  .css-b2oagi {
    width: 100px !important;
    display: inline-block;
}
}